
.probe
/.vscode
command_history.txt
/fancymenu_data
hmclversion.cfg
/logs
/local
/natives-windows-x86_64
/saves
usercache.json
usernamecache.json
REDSHIFT.jar
options.txt
config/iris.properties
/crash-reports
kubejs/config/probe-settings.json
/screenshots
/config/jei/world
